<a class="card" href="https://play.google.com/store/apps/details?id=co.appengine.games.sudokuland" target="_blank">
    <img src="/resources/sudoku-logo.svg" alt="Sudoku Game Logo">
    <div class="card__body">
        <h2 class="card__header">Sudoku</h2>
        <p class="card__description">Minimalistic Sudoku game published in the Google Play Store</p>
        <ul class="card__list">
            <li class="card__item">Java</li>
            <li class="card__item">Google Admob</li>
            <li class="card__item">Android</li>
        </ul>
    </div>
</a>