@font-face {
  font-family: "clear-sans";
  src: url("/fonts/clear-sans/ClearSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "clear-sans";
  src: url("/fonts/clear-sans/ClearSans-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: clear-sans, "Times New Roman", Times, serif;
}

ul li {
  list-style: none;
  font-size: 1.5rem;
}

.navmenu {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1024px;
  justify-content: center;
}

.navmenu ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #1d2021;
}

.main-page,
.projects-list {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

strong {
  color: #e24747;
}

h1 {
  color: #1d2021;
  margin-top: 0;
  font-size: 4.236rem;
}

.project-list-container {
  background-color: #e8ebe4;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  max-width: 360px;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  margin: 5rem auto;
  box-shadow: 0 0 5px rgb(209, 209, 209);
  transition: transform 0.2s;
}

.project-card:hover {
  /* background-color: rgba(255, 255, 255, 0.8); */
  transform: scale(1.01);
}

.projects-title::before {
  content: "<";
}

.projects-title::after {
  content: ">";
}

.projects-subtitle::before {
  content: "</";
}

.projects-subtitle::after {
  content: ">";
}

.footer-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  max-width: 1024px;
  text-align: center;
}

.social-network-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-network-menu li {
  margin: 2rem;
}

.greetings {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}
@media screen and (min-width: 360px) {
  h1 {
    margin-top: 2rem;
    font-size: 5.063rem;
  }
}

@media screen and (min-width: 520px) {
  h1 {
    margin-top: 2rem;
    font-size: 7.594rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 2rem;
    font-size: 11.089rem;
  }
}
